.foot {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--backgroundcolor);
  color: var(--whitetextcolor);
  margin: 0 auto;
}
.foot-container {
  @include mintab {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
.adrs {
  font-style: normal;
}
.adrs__item:not(:last-child) {
  margin-bottom: 9px;
}

.adrs__link[target='_blank'] {
  color: var(--whitetextcolor);
}

.adrs__link {
  color: var(--footaddresscolor);
  transition: color var(--transition1);
  &:hover,
  &:focus {
    color: var(--brandcolor);
  }
}
.foot__title {
  color: var(--whitetextcolor);
  margin-bottom: 20px;
  text-align: center;
  @include mindesk {
    text-align: left;
  }
}

.foot__item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 60px;
  }
  @include mindesk {
    &:last-child {
      margin-left: auto;
    }
    &:not(:last-child) {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }
}
.subscription {
  @include mindesk {
    display: flex;
  }
}
.subscription__input {
  height: 50px;
  border: 1px solid var(--footborderformcolor);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--whitetextcolor);
  background-color: transparent;
  @include font(16px, null, 1.25, 0.03em);
  margin-right: 12px;

  transition: border-color var(--transition1);
  outline: none;
  &::placeholder {
    color: var(--footaddresscolor);
  }
  &:hover,
  &:focus {
    border-color: var(--brandcolor);
  }
  margin-bottom: 20px;
  width: 450px;

  @include aftmintel {
    margin-bottom: 20px;
    width: 90vw;
  }

  @include mindesk {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscription__icon {
  margin-left: 10px;
}
