.logo-link {
  font-family: Raleway;
  @include font(24px, 700, 1.19, 0.03em);
  color: var(--brandcolor);
  @include mindesk {
    @include font(26px, null, null, null);
  }
}

.logo--header {
  color: var(--textcolor);
}

.head .logo-link {
  margin-right: 86px;
  @include mindesk {
    margin-right: 93px;
  }
}
.foot .logo-link {
  margin-bottom: 20px;
  display: inline-block;
}
.logo--footer {
  color: var(--whitetextcolor);
}
