.container {
  @include mintel {
    width: 480px;
  }
  @include mintab {
    width: 768px;
  }
  @include mindesk {
    width: 1200px;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
